<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Dlib Object Tracking Demo</title>
</head>
<body>

{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1 class="display-4">Object Tracking</h1>
        <div class="row">
            <div class="col-lg-8  offset-lg-2"><img style="padding:1px;border:thin solid black;" src="{{ url_for('video_feed') }}" width="100%"></div>
        </div>
<div class="row">
        <div class="col-lg-8  offset-lg-2">
        <form method="post" action="/upload/" enctype="multipart/form-data">
    <dl>
        <p class="lead">Upload a video of your own or select a demo from the navbar.</p>
        <div class="input-group mb-3">
          <input type="file" class="form-control" id="inputGroupFile02" name="file" autocomplete="off" required>
          <label class="input-group-text" for="inputGroupFile02">Upload (Max. 16MB)</label>
        </div>
        <div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01">Choose Object Type to Track</label>
  <select class="form-select" id="inputGroupSelect01" name="label">
    <option value="person">Person</option>
    <option value="car">Car</option>
    <option value="cat">Cat</option>
    <option value="bus">Bus</option>
    <option value="bicycle">Bicycle</option>
    <option value="boat">Boat</option>
    <option value="chair">Chair</option>
    <option value="motorbike">Motorbike</option>
    <option value="aeroplane">Aeroplane</option>
  </select>
</div>

    </dl>
    <p>
		<input type="submit" class="btn btn-primary" value="Submit">
	</p>
</form>
</div>
    </div>
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
            <button type="button" onclick="window.location.reload();" class="btn btn-primary">Reload Demo</button>
            </div>
        </div>

    </div>
{% endblock %}
</body>
</html>